body, html {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 100%;
}

#logo {
  width:100px;
  height:100px;
}

#navigation-container {
  width: 100%;
  margin: 0 auto;
  height: 10px;
}

* {
  box-sizing: border-box;
}

.navigation-bar {
	background-color: white;
	height: 105px;
	width: 100%;
	text-align:center;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 5px;
}
.navigation-bar img{
	float:left;
}
.navigation-bar ul {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display:inline-block;
	vertical-align:top;
}

.navigation-bar li {
	list-style-type: none;
	padding: 0px;
	height: 24px;
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline;
}

.navigation-bar li a {
	color: black;
	font-size: 22px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: none;
	line-height: 100px;
	padding: 5px 50px;
	opacity: 1;
	
}

.navigation-bar ul li:hover a{ 
    color:#98AFC7;
}

.navigation-bar a.active {
  background-color: #EAAE62;
  color: white;
}

#FoHTitle, #KitchenTitle {
	border-top-color: white;
	border-left-color: white;
	border-right-color:white;
	font-size: 18px;
}



table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 3px solid #ddd;
  padding: 8px;
  text-align: center;
  max-width: 100px;
}
th {
  background-color: #EAAE62;
  color: black;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

input[type=submit], [type=reset]
{
  background-color: white;
  border-style: solid;
  border-width: 2px;
  color: black;
  padding: 12px 28px;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
  width: 35%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

input[type=submit]:hover, [type=reset]:hover{
	background-color: #EAAE62;
	color: white;
}

.tabs {
	background-color: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.tablink {
   background-color: white;
  border-style: solid;
  border-width: 2px;
  color: black;
  padding: 12px 28px;
  border-radius: 8px;
  margin-right: 20px;
  cursor: pointer;
  width: 20%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.tablink:hover {
  background-color: #EAAE62;
  color: white;
}

#date {
text-align: left;
}







